<mat-card>
    <mat-card-content>
        <form [formGroup]="loginForm">
            <h2>Log In</h2>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-icon matSuffix>email</mat-icon>

                <mat-error *ngIf="loginForm.controls['email'].errors?.['required']">Email is required</mat-error>
                <mat-error *ngIf="loginForm.controls['email'].errors?.['email']">Email is not valid</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">

                <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
              >
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>

                <mat-error *ngIf="loginForm.controls['password'].errors?.['required']">Password is required</mat-error>
                <mat-error *ngIf="loginForm.controls['password'].errors?.['minlength']">Password must be at least 8 character long</mat-error>
            </mat-form-field>

            <button [disabled]="loginForm.invalid" (click)="login()" mat-raised-button color="primary">Login</button><br><br>

            <a [routerLink]="['/signup']">Create a new account</a>
        </form>
    </mat-card-content>
</mat-card>